.body_profile{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
}


.container_profile {
  
  display: flex;
  justify-content: center;
  padding: 30px;
}
.profile {
  text-align: center;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.profile-info {
  margin-top: 10px;
  background: #e76c00;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}
.edit-btn {
  background: #2196F3;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.div_edit{
  display:grid;
  align-items: center;
  margin: 0 auto;
  width: 420px;
  background-color: transparent;
  border: 2px solid #2196F3;
  border-radius: 10px;
  color : #1b1b1b;
  padding: 30px 40px;
  box-shadow: 0 0 10px #2196F3;
  backdrop-filter: blur(50px);
}

.div_editButtons button{
  border: none;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #2196F3;
}


.div_editButtons button:hover{
  background-color:  #6069e4;
}